.root {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 30, 0.5, 0.0, 0.0);
    -fx-background-radius: 20;
    -fx-padding: 35;
    /*-fx-padding: 50;*/
}

#mainFrame{
    -fx-background-color: transparent;
/*    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;*/
}

#sideBarPanel{
    -fx-background-color: #4C52BC;
    -fx-background-radius: 20 0 0 20;
}
#contentPanel{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0 20 20 0;
}

#appLogo{
    -fx-effect: dropshadow(three-pass-box, white, 25, 0, 0, 0);
}

#sideBarSubBtn{
    -fx-background-color: #4C52BC;
    -fx-alignment: left;
    -fx-padding: 0 0 0 30;
    -fx-text-fill: #F5F5F5;
}

#sideBarSubBtn:hover{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #565CC0, transparent);
    -fx-text-fill: white;
}

#usedStorageBarWhite{
    -fx-background-color: #32378E;
    -fx-background-radius: 10;
}

#usedStorageBarFill{
    -fx-background-color: #EFD2B1;
    -fx-background-radius: 10;
}

/*  THIS SECTION IS DEDICATED TO SEARCH BAR  */
#dashSearchTxt{
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 20;    
    -fx-padding: 0 0 0 40;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #333333;
}

/*  THIS SECTION IS DEDICATED TO SEARCH BAR  */

/*  THIS SECTION IS DEDICATED TO TITLE SHOWING PANE  */
#titleShowingPane{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: transparent transparent #E8EAED transparent;
}

#projectsBoxPanel{
    -fx-background-color: #F7F8FB;
    -fx-background-radius: 20;
}

#newProjectBoxPanel{
    -fx-border-color: #F7F8FB;
    -fx-border-width: 5 ; 
    -fx-border-radius: 20;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round ;}

#newProjectBoxPanel .label{
    -fx-alignment: center;
}
/*  THIS SECTION IS DEDICATED TO TITLE SHOWING PANE  */

/*THIS SECTION IS FOR ACTION BAR*/
#actionBar{
    -fx-border-width: 0 0 0 2;
    -fx-border-color: transparent transparent transparent #E8EAED;
}
/*THIS SECTION IS FOR ACTION BAR*/